<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/index.css">

  <title>Document</title>
</head>

<body>
  <div class="container-md container-one">
    <div class="container-sm container-hd">
      <img src="/images/<%= products[0].img%> " alt="" srcset="">
    </div>
    <div class="card-body">
      <p>Lorem, dolorum cupiditate dicta officia earum deserunt saepe, neque laboriosam recusandae reiciendis voluptate
        sapiente, officiis explicabo corrupti atque repellat.</p>
      <a href="/products/<%=products[0].id%> "> <button type="button" class="btn btn-outline-dark">Ürüne Git</button></a>
    </div>
  </div>
  <div class="container-md container-two">
    <div class="container-sm container-hd">
      <img src="/images/<%= products[1].img%> " alt="" srcset="">
    </div>
    <div class="card-body">
      <p>Lorem, dolorum cupiditate dicta officia earum deserunt saepe, neque laboriosam recusandae reiciendis voluptate
        sapiente, officiis explicabo corrupti atque repellat.</p>
      <a href="/products/<%=products[1].id%> "> <button type="button" class="btn btn-outline-dark">Ürüne Git</button></a>

    </div>
  </div>

  <div class="container-md container-one">
    <div class="container-sm container-hd">
      <img src="/images/<%= products[2].img%>" style="width: 320px;" alt="" srcset="">
    </div>
    <div class="card-body">
      <p>Lorem, dolorum cupiditate dicta officia earum deserunt saepe, neque laboriosam recusandae reiciendis voluptate
        sapiente, officiis explicabo corrupti atque repellat.</p>
      <a href="/products/<%=products[2].id%> "> <button type="button" class="btn btn-outline-dark">Ürüne Git</button></a>
    </div>
  </div>
</body>

</html>